.nemo-window .view {
  #background-color: #1e1e2e;
  color: #DBDBDB;
}

.nemo-window .nemo-inactive-pane .view {
  background-color: #1e1e2e;
  color: #CBCBCB; }
  
.nemo-window .view:selected:focus,
.nemo-window .view:selected,
.nemo-window .nemo-inactive-pane .view:selected:focus,
.nemo-window .nemo-inactive-pane .view:selected {
  background-color: #b4befe; }

.nemo-window statusbar {
  background-color: #1e1e2e;
}
